<div class="dash-background">
    {{> nav }}

    <div class="register-view">

        {{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger" role="alert">
                    {{ this.msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/each}}
        {{/if}}

        <form class="register-box" action="/register" method="POST">
            <div class="register-title">{{ register_form.title_label }}</div>

            <div class="register-form">
                <div class="register-input">
                    <label for="name">{{ register_form.username_label }}</label>
                    <input type="text" name="name" id="name">
                </div>

                <div class="register-input">
                    <label for="name">{{ register_form.email_label }}</label>
                    <input type="text" name="email" id="email">
                </div>

                <div class="register-input">
                    <label for="pass">{{ register_form.password_label }}</label>
                    <input type="password" name="pass" id="pass">
                </div>

                <div class="register-input">
                    <label for="passconf">{{ register_form.confirm_password_label }}</label>
                    <input type="password" name="passconf" id="passconf">
                </div>

                <div class="register-button">
                    <button>{{ register_form.register_button }}</button>
                </div>
            </div>
        </form>

    </div>
</div>
