<div class="dash-background">
    {{> nav }}

    <div class="register-view">

        <form class="register-box" action="/register" method="POST">

            <div class="register-title">{{ register_form.title_label }}</div>

            <div class="register-form">
                <div class="register-input">
                    <label for="name">{{ register_form.username_label }}</label>
                    <input type="text" name="name" id="name">
                </div>

                <div class="register-input">
                    <label for="pass">{{ register_form.password_label }}</label>
                    <input type="password" name="pass" id="pass">
                </div>

                <div class="register-input">
                    <label for="passconf">{{ register_form.confirm_password_label }}</label>
                    <input type="password" name="passconf" id="passconf">
                </div>

                <div class="register-button">
                    <button>{{ register_form.register_button }}</button>
                </div>
            </div>
        </form>

    </div>
</div>
